:root {
    /* Colors */
    --blue: #0016d5;
    --light-blue: #07bcfd;
    --gray: #363636;
    --dark-gray: #1d1d1b;
    --black: #0f0f0f;

    /* Text-size styles */
    /* base size: body-3 (13px) */
    --heading-1: 3rem;
    --heading-2: 1.5rem;
    --heading-3: 1.375rem;
    --body-1: 1.063rem;
    --body-2: 0.938rem;
    --body-3: 0.813rem;
    --small-text: 0.688rem;
    --button: 0.813rem;
    --small-text--uppercase: 0.813rem;

    /* Height */
    --height-h1: 110%;
    --height-h3: 150%;
    --height-b1: 150%;
    --height-b2: 140%;
    --height-b3: 160%;
    --height-st: 160%;
}

