.others__item {
    padding-bottom: 56px;
}

.others__item:last-child {
    padding-bottom: 160px;
}

.others__name-first {
    text-align: center;
    font-size: var(--body-2);
    font-family: var(--font-sans);
    margin-bottom: 32px;
    margin-top: 82px;
    text-decoration: underline;
}

.others__name,
.others__author {
    text-align: center;
    font-size: var(--body-2);
    font-family: var(--font-sans);
    margin-bottom: 32px;
    text-decoration: underline;
}

.others__author {
    text-decoration: none;
}