.history__title::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 245px;
    height: 8px;
    background-color: var(--gray);
    margin-top: 24px;
}

.history__title::after {
    content: "";
    display: block;
    width: 95px;
    height: 8px;
    background-color: var(--gray);
    margin-top: -10px;
}

.timeline__title::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 260px;
    height: 8px;
    background-color: var(--gray);
    margin-top: 24px;
}

.timeline__title::after {
    content: "";
    display: block;
    width: 218px;
    height: 8px;
    background-color: var(--gray);
    margin-top: -10px;
}


.artifact__title::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 273px;
    height: 8px;
    background-color: var(--gray);
    margin-top: 24px;
}

.artifact__title::after {
    content: "";
    display: block;
    width: 65px;
    height: 8px;
    background-color: var(--gray);
    margin-top: -10px;
}

.content__title::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 260px;
    height: 8px;
    background-color: var(--gray);
    margin-top: 24px;
}

.content__title-presentation::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 275px;
    height: 8px;
    background-color: var(--gray);
    margin-top: 24px;
}

.content__title-presentation::after {
    content: "";
    display: block;
    width: 75px;
    height: 8px;
    background-color: var(--gray);
    margin-top: -10px;
}

.content__title-oeuvres::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 215px;
    height: 8px;
    background-color: var(--gray);
    margin-top: 24px;
}

.transcendance-summary__title::after{
    content: "";
    display: block;
    width: 305px;
    height: 8px;
    background-color: var(--gray);
    margin-top: -10px;
}
.transcendance-trailer__title{
    font-size: 21px;
}
.transcendance-trailer__title::after{
    content: "";
    display: block;
    width: 335px;
    height: 8px;
    background-color: var(--gray);
    margin-top: -10px;
}
.related-films__title::after{
    content: "";
    display: block;
    width: 160px;
    height: 8px;
    background-color: var(--gray);
    margin-top: -10px;
}
.biography__title::after{
    content: "";
    display: block;
    width: 310px;
    height: 8px;
    background-color: var(--gray);
    margin-top: -10px;
}
.career__title::after{
    content: "";
    display: block;
    width: 125px;
    height: 8px;
    background-color: var(--gray);
    margin-top: -10px;
}
.presentation__title::after{
    content: "";
    display: block;
    width: 265px;
    height: 8px;
    background-color: var(--gray);
    margin-top: -10px;
}
.analysis__title::after{
    content: "";
    display: block;
    width: 205px;
    height: 8px;
    background-color: var(--gray);
    margin-top: -10px;
}
.video__title::after{
    content: "";
    display: block;
    width: 190px;
    height: 8px;
    background-color: var(--gray);
    margin-top: -10px;
}
.projects__title::after{
    content: "";
    display: block;
    width: 160px;
    height: 8px;
    background-color: var(--gray);
    margin-top: -10px;
}
.about__title::after{
    content: "";
    display: block;
    width: 100px;
    height: 8px;
    background-color: var(--gray);
    margin-top: -10px;
}
.contact__title::after{
    content: "";
    display: block;
    width: 250px;
    height: 8px;
    background-color: var(--gray);
    margin-top: -10px;
}
