.description__text {
    font-family: var(--font-sans);
    font-size: var(--body-1);
    font-weight: 400;
    line-height: var(--height-b1);
    word-spacing: 5%;
    padding-top: 24px;
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 32px;
    margin: 0;
}

.article__title-objet {
    margin-top: 24px;
}

.article__title-objet,
.article__title-livre,
.article__title-film,
.article__title-real,
.article__title-musique {
    text-align: center;
}

.article__title-objet::after,
.article__title-livre::after,
.article__title-film::after,
.article__title-real::after,
.article__title-musique::after {
    content: "";
    display: block;
    width: auto;
    height: 3px;
    background: radial-gradient(circle, #0016D5, #07BCFD);
    margin: 0 auto;
    margin-top: 8px;
    margin-bottom: 16px;
}

.article__title-objet::after {
    width: 80%;
}

.article__title-livre::after {
    width: 47%;
}

.article__title-film::after {
    width: 55%;
}

.article__title-real::after {
    width: 45%;
}

.article__title-musique::after {
    width: 23%;
}

.article__text{
    font-size: 12px;
}

.article__img-musique {
    height: auto;
    margin: 0;
    margin-top:25px;
    padding-right:20px;
}

.article__content {
    display: flex;
    margin-bottom: 48px;
    margin-top: 36px;
}

.article__link{
    width:300%;
}